.calculator.level_0.list{
    display: grid;
}

.calculator.level_1.title {
    font-weight: bold;
    text-transform: uppercase;
}

.calculator.level_1.container{
    background: #eee;
    margin: 10px;
    padding: 5px;
}
.calculator.vector{
    background: #eee;
    margin: 10px;
    padding: 5px;
    font-family: monospace;
}
.calculator.level_1.list{
    margin: 10px;
}

.calculator.depth_2.title {
    font-weight: bold;
}

.calculator.depth_2.container{
    float: left;
}

.calculator.selector.container{
    margin: 10px;
    float: left;
    background: #333;
    width: 250px;
    border-radius: 4px;
    padding: 2px;
}
.calculator.selector.title{
    background: #333;
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
    font-size: smaller;
    margin: 2px;
}
.calculator.item {
    background: white;
    padding: 2px;
    font-size: smaller;
}
.calculator.item.selected.best {
    background: #FF6962;
}
.calculator.item.selected.good {
    background: #FFB092;
}
.calculator.item.selected.medium{
    background: #FFB346;
}
.calculator.item.selected.bad {
    background: #FFD050;
}
.calculator.item.selected.worse {
    background: #FFE08E;
}

